In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
iris=pd.read_csv('cse_DS_Intro3TRAIN.csv')
iris.head()

,ID,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,A27,A28,A29,A30,A31,A32,A33,A34,A35,Class
0,1,0.36,0.45,0.47,0.37,0.33,0.40,0.42,0.31,0.33,...,0.53,0.41,0.35,0.47,0.50,0.39,0.33,0.42,0.44,C
1,2,0.33,0.40,0.42,0.31,0.33,0.40,0.40,0.33,0.31,...,0.50,0.39,0.33,0.42,0.44,0.34,0.33,0.39,0.41,C
2,3,0.33,0.40,0.40,0.33,0.31,0.40,0.40,0.31,0.33,...,0.44,0.34,0.33,0.39,0.41,0.31,0.33,0.39,0.41,C
3,4,0.31,0.40,0.40,0.31,0.33,0.37,0.40,0.31,0.31,...,0.41,0.31,0.33,0.39,0.41,0.31,0.33,0.40,0.41,C
4,5,0.33,0.37,0.40,0.31,0.31,0.37,0.38,0.30,0.31,...,0.41,0.31,0.33,0.40,0.41,0.31,0.31,0.42,0.43,C

In [3]:
from sklearn.model_selection import train_test_split
X = iris.loc[:, iris.columns != "Class"]
Y = iris.loc[:, iris.columns == "Class"]
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=1000)

from sklearn.svm import SVC
model = SVC()
model.fit(X_train, y_train)

pred = model.predict(X_test)

#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, pred))

C:\Users\sampatht\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accuracy: 0.412